#all{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
}
/*ヘッダーのcssここから*/
header{
    width: 100%;
    height: 6vh;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    margin-top: 1.5vh;
    transition: 1s;
}
li:hover{
    margin-top: 3vh;;
    transition: 1s;
}
a{
    text-decoration: none;
    color:aliceblue;
    transition: 1s;
}
a:hover{
    color: lightseagreen;
    transition: 1s;
}
.now{
    color:lightseagreen;
}
.profile_div{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
.name_text{
    color: white;
    font-size: 20px;
}
.profile_img{
    width: 20vw;
}
.profile_text{
    color: white;
    padding-bottom: 2rem;
}

.name_font{
    color: white;
    font: italic 1.2rem "Fira Sans", serif;
}
.flex_none{
    margin: 0 auto;
    display: flex;
    margin-bottom: 2rem;
}
.text_div{
    background-color: rgba(255, 255, 255, 0.3);
    width: 30vw;
    padding: 5%;
    border-radius: 10px;
}
i {
    font-size: 30px;
}
.flex{
    display: flex;
    justify-content: space-around;
}
