html{
     scroll-behavior: smooth;
}
#top{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: relative;
}
/*ヘッダーのcssここから*/
header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: black;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    margin-top: 1.5vh;
    transition: 1s;
}
li:hover{
    margin-top: 3vh;;
    transition: 1s;
}
a{
    text-decoration: none;
    color:aliceblue;
    transition: 1s;
}
a:hover{
    color: lightseagreen;
    transition: 1s;
}


/*ヘッダーのcssここまで*/
.news_link{
    position: absolute;
    top: 15%;
    left: 12%;
}
.programming_img{
    position: absolute;
    top: 50%;
    left: 60%;
    width: 30vw;
}
.logos{
    position: absolute;
    top: 40%;
    left: 10%;
}

i::before{
    font-size: 40px;
}
.nomal_text{
    color: white;
    font-size: 40px;
}
.color_text{
    color: lightseagreen;
    font-size: 40px;
}

.now{
    color: lightseagreen;
}
span{
    text-decoration: underline;
}
#under{
    background-color: rgba(255, 255, 255, 0.3);
    width: 30vw;
    height: 15vh;
    position: absolute;
    top: 80%;
    left: 10%;
}
.comment{
    color: white;
}
#second{
    background-image: url(/image/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
    background-size: 100%;
    width: 100%;
    height: 100vh;
    padding: 10%;
}
.second_in{
    width: 90%;
    height: 75vh;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    padding: 3%;
}
.news_title{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    padding-bottom: 2rem;
}
.news_text{
    padding-bottom: 1rem;
    font-size: 20px;
}
.borderbottom{
    border-bottom: solid 2px black;
    margin-bottom: 25px;
}
